/* @import url("https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&family=League+Gothic&family=Permanent+Marker&family=Poppins&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap%27');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(244, 134, 7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(244, 134, 10);
}

nav {
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  background-color: rgb(244, 134, 7);
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.43);
}
.title{
    font-size: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.701);
}

.logo {
  width: 100px;
  height: auto;
  display: flex;
}

#search {
  width: 450px;
  outline: none;
  padding: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  border: none;
}

#btn-search {
  border: none;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: none;
  background-color: #2f2f2f;
  color: white;
  cursor: pointer;
}

#btn-search:hover {
  background-color: #484848;
}

ul{
    width: 110vh;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(244, 134, 7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
    list-style-type: none;
    padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

li{
    background-color: rgb(239, 239, 239);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 15px 5px;
    padding: 10px;
    font-size: 18px;
   
}
.test{
    display: flex;
    justify-content: center;
}

.outer-popup {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.inner-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 134, 7);
  width: 50%;
  height: 200px;
  padding: 30px;
  border-radius: 20px;
}

.inner-popup h4 {
  line-height: 1.5;
  color: #333;
}

.close-popup {
  display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background-color:rgb(244, 134, 7);;
    border-radius: 50%;
}
.close {
  color: #fff;
  cursor: pointer;
}


@media screen and (max-width: 855px) {
    .title {
      font-size: 30px;
      line-height: 13px;
    }
    #search {
      width: 200px;
    }
    ul{
      width: 70vh;
    }
}

@media screen and (max-width:535px) {
  .title {
    font-size: 20px;
    line-height: 13px;
  }
 
  #search {
    width: 100px;
  }
  ul{
    width: 50vh;
  }
}

